version: "3"
services:
    ocdb:
        container_name: ocdb
        image: mysql:5.7
        environment:
              - MYSQL_DATABASE=ocdb
              - MYSQL_ROOT_PASSWORD=P4ssw0rd!
        env_file: .env
        networks:
                - ocnet
    opencart:
        container_name: opencart
        image: citypay/opencart-php7.4:3.0.4
        ports:
                - 127.0.0.1:80:80
                - 127.0.0.1:4040:4040
        environment:
               - CITYPAY_PLUGIN_VERSION= 2.0.0
        depends_on:
                - ocdb
        env_file: .env
        networks:
                - ocnet
networks:
    ocnet:
      driver: bridge